@font-face {
  font-family: 'Writer';
  src: url('woff2/Writer-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Writer';
  src: url('woff2/Writer-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Writer';
  src: url('woff2/Writer-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Writer';
  src: url('woff2/Writer-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Writer';
  src: url('woff2/Writer-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}